
:root{
  --body_background: rgb(255, 255, 255);
  --body_color:rgb(0, 0, 0);
  --link_color:rgb(0, 0, 0);
}

[data-theme="dark"]{
  --body_background: rgb(34, 26, 52);
  --body_color:rgb(255, 255, 255);
  --link_color:rgb(255, 255, 255);
}

body{
  background-color: var(--body_background);
  font-size: 1.1em;
  line-height: 1.3em;
  font-family: "Source Code Pro", monospace;
  margin: 0;
}

p {
  color: var(--body_color);
  margin-bottom: 1.6em;
}

h1 {
  color: var(--body_color);
  font-size: 2rem;
  line-height: 1.3em;
}

h5 {
color: var(--body_color);
  line-height: 1.3em;
}
h2 {
color: var(--body_color);
  line-height: 1.3em;
}
small {
color: var(--body_color);
  line-height: 1.3em;
}


h4 {
color: var(--body_color);
  line-height: 1.3em;
}
.faSocks {
color: var(--body_color);
  line-height: 1.3em;
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.logo {
  letter-spacing: 5px;
  font-size: 25px;
  text-decoration: none;
}

.header{
  background: var(--body_background);
  color:var(--body_color);
  opacity: +8;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header a{
  color:var(--body_color);
}

.menu-icon{
  display: none;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul {
margin: 0;
padding: 1.3em;
list-style: none;
text-decoration: none;
}

.navigation ul li{
  display: inline-block;
  }

  .navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.4s linear;
    }
    .navigation ul li a:hover {
      background: light;
      }


.main{
  padding-top: 12rem;
}

.footer {
  background: var(--body_background);
  padding: 4rem 0 ;
  text-align: center;
  margin-top: 6rem;
}





.fa-bars {
  color: rgb(46, 58, 227);
  font-size: 40px;
}
.fa-faKiss {
  color: rgb(46, 58, 227);
  font-size: 12em;
}

.fa-faKiss:hover {
  color: rgb(22, 30, 138);
  font-size: 12em;
}





.aboutme {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2em;
}

.img-me{
left: 0;
justify-content: center;
background-position: cover;
}


.fancy {
  background-color: transparent;
  border: 2px solid var(--link_color);
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }

 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: var(--body_background);
  top: 50%;
  left: 1.5em;
  transform-origin: center;
 }

 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  display: block;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--link_color);
 }

 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: var(--body_background);
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }

 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--body_background);
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }

 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--body_background);
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }

 .fancy:hover {
  color: var(--link_color);
  background: var(--body_background);
 }

 .fancy:hover::before {
  width: 0.9375rem;
  background: var(--body_background);
 }



 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }

 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }


@media only screen and (max-width: 850) {
  .aboutme {
    display:grid;

  }

  .aboutme .img-me{
    align-items: column;
  }
}

.img-me {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--body_color);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}





@media only screen and (max-width: 767px){

  .aboutme {
    display:grid;
    padding-bottom: 2em;
  }
  .slider {
    --background: #090318;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 10px;
    background-color: var(--body_background);
    transition: .5s;
    border-radius: 30px;
  }

  .menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .navigation{
    width: 100%;
  }

  .navigation ul{
    display: none;
  }
  .navigation ul.show {
    display: block;
  }

    .navigation ul li{
      display: block;
      margin-top: 1rem;
      }

      .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        text-decoration: none;
        transition: all 0.4s linear;
        }
        .navigation ul li a:hover {
          background: var(--body_background);
          }
}





















.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  --background: #090318;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--body_background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: black;
  transition: .5s;
}

input:checked + .slider {
  background-color: var(--body_background);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -99px 0px 15px #eddd05;
}




.timeline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}


.timeline .container {
  width: 48%;
  box-sizing: border-box;
}


.text-box {
  padding: 20px 30px;
  background:var(--body_background);
  border: 2px solid var(--body_color);
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}





@media (max-width: 902px) {
  .timeline {
    flex-direction: column;
    gap: 10px;
  }

  .timeline .container {
    width: 100%;
    padding: 10px;
  }
}




